@import "tailwindcss";

@theme {
  --color-text: #eae9fc;
  --color-background: #1c1c1C;
  --color-primary: #a4307fff;
  --color-secondary: #241d22ff;
  --color-accent: #E640B2;
  --color-blue: #211d24ff;
  --color-grey: #d4cdd4ff;
  --color-dark-grey: #c4bdc4ff;
  --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-inter);
  font-size: 1.2rem;
  font-weight: 300;
}
